

@tailwind base;
@tailwind components;
@tailwind utilities;




@media(min-width: 1200px){
    .container{
        max-width: 1230px;
    }
}



.language #dropdown{
    opacity: 0;
    visibility: hidden;
}

.language.opened #dropdown{
    opacity: 1;
    visibility: visible;
}

.language #dropdown li a svg{
    opacity: 0;
}

.language #dropdown li a.selected svg{
   opacity: 1;
}



.header{
    min-height: 62px;
}

.logo {
    min-height: 34px;
}

@media(max-width: 768px){
    #dropdown{
        position: fixed;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        left: 0;
        top: 62px;
        border-radius: 0;
        padding: 0px 60px;
    }

    .language.opened .icon, .language.opened .language-value{
        display: none;
    }
    
    .language.opened .close{
        display: block !important;
    }
}